.t-footer
  .t-footer__contents
    .content
      %h2.content__title
        FURIMAについて
      %ul
        %li
          = link_to "会社概要 （運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    .content
      %h2.content__title
        FURIMAを見る
      %ul
        %li
          = link_to "カテゴリ一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    .content
      %h2.content__title
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .t-footer__logo
    = link_to "#" do
      = image_tag "logo-white.svg"
    %p.t-footer__copylight 
      © FURIMA