.t-header
  .t-header__up
    .t-header__logo
      %h1.icon
        = link_to "/" do
          = image_tag "logo.svg"
      .t-header__search
        .form
          %input{type: "text", placeholder:"キーワードから探す"}
          %button{type: "submit", class:'search_btn'}
            .t-header__search-icon
              =image_tag "icon-search 1.png"
    .t-header__under
      %ul.left-side
        %li.left-side__category
          = link_to "カテゴリーから探す", categories_path
          %ul.left-side__category--parent
            - @parents.each do |parent|
              %li
                = link_to category_path(parent), class: "name" do
                  = parent.name
                %ul.left-side__category--child
                  - parent.children.each do |child|
                    %li
                      = link_to category_path(child), class: "name", id: "small-name" do
                        = child.name
                      %ul.left-side__category--grandchild
                        - child.children.each do |grandchild|
                          %li
                            = link_to category_path(grandchild), class: "name", id: "small-name" do
                              = grandchild.name
        %li.left-side__brand
          = link_to "ブランド", "#"
      %ul.right-side
      -if user_signed_in?
        .right-side__mypage
          = link_to "マイページ", users_path(current_user), id: "mypage-btn"
        .right-side__logout
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
      -else
        .right-side__login
          = link_to "ログイン", new_user_session_path, id: "login-btn"
        .right-side__register
          = link_to "新規会員登録", new_user_registration_path, id: "new-btn"