.wrapper
  = render "header"
            

  .first-banner
    .first-banner__content
      %h2.catch-copy
        %br
          人生を変えるフリマアプリ
        %p.text-small
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
      .download-btn
        = link_to "#", class: 'a-btn' do
          = image_tag "apple.svg"
        = link_to "#", class: 'g-btn' do
          = image_tag "google-play-badge.svg"
  .choice-point
    %h2.title
      FURIMAが選ばれる3つの理由
    %ul.points
      %li.point
        .point__image
          %span.number 1 
          = image_tag "pict-reason-01.jpg"    
        %h3.description-title
          %span 3分
          ですぐに出品
        %p.description-text
          スマホで入力するだけで簡単に出品できる！
      %li.point
        .point__image
          %span.number 2
          = image_tag "pict-reason-02.jpg" 
        %h3.description-title
          %span シンプル
          で使いやすい
        %p.description-text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.point.point-last
        .point__image
          %span.number 3 
          = image_tag "pict-reason-03.jpg" 
        %h3.description-title
          手数料
          %span 業界最安
        %p.description-text
          最大3%でお得に出品&購入！   

.first-banner
  .first-banner__content
    %h2.catch-copy
      %br
        人生を変えるフリマアプリ
      %p.text-small
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
    .download-btn
      = link_to "#", class: 'a-btn' do
        = image_tag "apple.svg"
      = link_to "#", class: 'g-btn' do
        = image_tag "google-play-badge.svg"
.choice-point
  %h2.title
    FURIMAが選ばれる3つの理由
  %ul.points
    %li.point
      .point__image
        %span.number 1 
        = image_tag "pict-reason-01.jpg"    
      %h3.description-title
        %span 3分
        ですぐに出品
      %p.description-text
        スマホで入力するだけで簡単に出品できる！
    %li.point
      .point__image
        %span.number 2
        = image_tag "pict-reason-02.jpg" 
      %h3.description-title
        %span シンプル
        で使いやすい
      %p.description-text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.point.point-last
      .point__image
        %span.number 3 
        = image_tag "pict-reason-03.jpg" 
      %h3.description-title
        手数料
        %span 業界最安
      %p.description-text
        最大3%でお得に出品&購入！   

  = render "third-banner"
  = render "footer"
  = render "camera-btn"
      
.t-footer
  .t-footer__contents
    .content
      %h2.content__title
        FURIMAについて
      %ul
        %li
          = link_to "会社概要 （運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    .content
      %h2.content__title
        FURIMAを見る
      %ul
        %li
          = link_to "カテゴリ一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    .content
      %h2.content__title
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .t-footer__logo
    = link_to "#" do
      = image_tag "logo-white.svg"
    %p.t-footer__copylight 
      © FURIMA
= link_to "#" do
  .camera-btn
    %span.camera-btn__text 出品する
    = image_tag("icon_camera.png", class: 'camera-btn__icon')
    
