.wrapper
  = render "header"

  .first-banner
    .first-banner__content
      %h2.catch-copy
        %br
          人生を変えるフリマアプリ
        %p.text-small
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
      .download-btn
        = link_to "#", class: 'a-btn' do
          = image_tag "apple.svg"
        = link_to "#", class: 'g-btn' do
          = image_tag "google-play-badge.svg"
  .choice-point
    %h2.title
      FURIMAが選ばれる3つの理由
    %ul.points
      %li.point
        .point__image
          %span.number 1 
          = image_tag "pict-reason-01.jpg"
        %h3.description-title
          %span 3分
          ですぐに出品
        %p.description-text
          スマホで入力するだけで簡単に出品できる！
      %li.point
        .point__image
          %span.number 2
          = image_tag "pict-reason-02.jpg" 
        %h3.description-title
          %span シンプル
          で使いやすい
        %p.description-text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.point.point-last
        .point__image
          %span.number 3 
          = image_tag "pict-reason-03.jpg" 
        %h3.description-title
          手数料
          %span 業界最安
        %p.description-text
          最大3%でお得に出品&購入！   
  .second-banner
    .catch-copy
      %h2.text-big 会員数日本一位
      %p.text-small
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .download-btn
        = link_to "#" do
          = image_tag("apple.svg", class: 'a-btn')
        = link_to "#" do
          = image_tag("google-play-badge.svg", class: 'g-btn')

  .furima-feature
    %h2.title
      FURIMAの特徴
    .features
      .feature
        = image_tag("icon-01.svg", class: 'feature__image')
        %h3.feature__description
          簡単に売り買いできる
        %p.description-text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .feature
        = image_tag("icon-02.svg", class: 'feature__image')
        %h3.feature__description
          売上金は即日振込みに対応
        %p.description-text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .feature
        = image_tag("icon-03.svg", class: 'feature__image')
        %h3.feature__description  
          様々な支払いに対応
        %p.description-text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .pickup
    %h2.title ピックアップカテゴリー
    %h3.title 新規投稿商品
    .category__products
      .category__products--box
        - @products.each do |product|
          - category = Category.find(product.category_id)
          = link_to product_path(id: product.id), class: "category__product" do
            .category__product--img
              = image_tag product.product_images.first.image_url.url, class: "img"
                - if product.order.present?
                .sold__box
                  .sold__box--text
                    SOLD
            .category__product--details
              .product__name= product.name
              %ul
                .product__price= "#{product.price}円"
                %li
                  = icon("fas", "star", class: "link-icon")
                  0
              .p (税込)
  .pickup
    %h2.title ピックアップブランド
    %h3.title アーカイバ
    .category__products
      .category__products--box
        - @products.each do |product|
          - category = Category.find(product.category_id)
          = link_to product_path(id: product.id), class: "category__product" do
            .category__product--img
              = image_tag product.product_images.first.image_url.url, class: "img"
                - if product.order.present?
                .sold__box
                  .sold__box--text
                    SOLD
            .category__product--details
              .product__name= product.name
              %ul
                .product__price= "#{product.price}円"
                %li
                  = icon("fas", "star", class: "link-icon")
                  0
              .p (税込)

  = render "third-banner"
  = render "footer"
  = render "camera-btn"