.wrapper
  = render "share/products_header"
  .main
    .main__frame
      .main__box
        .main__box--title
          %h1 購入内容の確認
        %hr
        .main__box--product
          = image_tag("dummy.jpg", alt: "product-img", class: "product-img")
          .contents
            .content 新品未使用！GUCCIのかわいいシャツ♪夏物レディースMサイズ
            .prices
              .product-price
                .title 商品価格
                .price ¥9,999,999
              .shipping-fee
                .title 送料
                .fee ¥0
        %hr
        .main__box--price
          %h2 支払い金額
          %h2.total-amount 
            = "¥" + "#{@product.price}"
        %hr
        - if current_user.credit_card.present?
          .main__box--creditcard
            .title
              %h3 支払い方法
              = link_to "変更する >", credit_card_path(current_user.id), class: "edit-link"
            .card-info
              %p クレジットカード
              .creditcard-num 
                = "xxxx-xxxx-xxxx" + @customer_card.last4
              .expire-date
                .expire-date__title
                  = "有効期限" + @exp_month + " / " + @exp_year 
              .kind 
                = image_tag "#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand
          %hr
          .main__box--shipping
            .title
              %h3 配送先
              = link_to "変更する >", "", class: "edit-link"
            .shipping-info
              %p.zip_code 〒150-0044
              %p.address 東京都渋谷区円山町19番1号 渋谷プライムプラザ12階
              %p.user-name 真子就有
          %hr
          .main__box--purchase
            .purchase-notice
              出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
            .purchase-btn
              = link_to "購入する", product_orders_path, method: :post, class: "buy-btn"
        - else 
          .purchase_none_btn
            = form_tag(action: :create, method: :post) do
              %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "購入する" ,"data-key": "pk_test_5ef47dbae89fcfc8309d0276",}
    = render "share/products_footer"
