#login

.header1
  = link_to image_tag("logo.png",class: "furima-logo",size:'300x100'),"/"

.login-form__text ログイン

= form_with model: @user, url: user_session_path, id: 'login_user', class: 'login_user', local: true do |f|
  .field-sessions
    .field-mail
      .field-label
        = f.label 'メールアドレス'
      .field-input
        = f.email_field :email, autofocus: true,size:"35x10"
      %br/
    .field-pass
      .field-label
        = f.label 'パスワード'
        %i (英数字7文字以上)
      .field-input
        = f.password_field :password, autocomplete: "off",size:"35x10"
    .actions
      = f.submit "ログイン", class: 'btn-log'
    .pass-forgot 
      = link_to "*パスワードを忘れた方はこちら"
    

.footer2
  .footer2__info
    = link_to 'プライバシーポリシー','/'
    = link_to 'フリマ利用規約','/'
    = link_to '特定商取引に関する表記','/'
  .footer2__logo
    = link_to image_tag("logo-white.png", class: "furima-white-logo",size:'200x50'), root_path
    %p © FURIMA