.wrapper
  .header
    .header_up
      .header_logo
        %h1.icon
          %a{:href => "/"}
            = image_tag("logo.svg")
        .header_search
          .form
            %input{type: "text", placeholder:"キーワードから探す"}
            %button{type: "submit", class:'search_btn'}
              .header_search_icon
                %img{:src => "/assets/icon-search 1.png"}/



    .header_under
      %ul.left-side
        %li.left-side__item.list-side__item-category
          %a#category-btn{:href => "#"} カテゴリー
        %li.left-side__item
          %a#brand-btn{:href => "#"}ブランド
      %ul.right-side
        %li.right-side__item.right-side__item-login
          %a#login-btn{:href => "#"}ログイン
        %li.right-side__item
          %a#new-btn{:href => "#"}新規会員登録

  .first-banner
    .first-banner__content
      .catch_copy
        %p.text_big
          人生を変えるフリマアプリ
        %p.text_small
          FURIMAはだれでもかんたんに出品・購入できる
          %br
          フリマアプリです
      .download_btn
        = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'
        = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'
        
  .choice_point
    %p.title
      FURIMAが選ばれる３つの理由
    .points
      .point
        .point__image
          .point__image__number
            1        
          = image_tag("pict-reason-01.jpg", class:'point__image')
        .point__description
          %p.description_title
            %span３分
            ですぐに出品
          %p.description_text
            スマホで入力するだけで簡単に出品できる！
      .point
        .point__image
          .point__image__number
            2
          = image_tag("pict-reason-02.jpg", class:'point__image')
        .point__description
          %p.description_title
            %spanシンプル
            で使いやすい
          %p.description_text
            めんどくさい入力は必要なく、検索も購入もスムーズ！
      .point
        .point__image
          .point__image__number
            3 
          = image_tag("pict-reason-03.jpg", class:'point__image')
 
        .point__description
          %p.description_title
            %span手数料
            業界最安
          %p.description_text
            最大3%でお得に出品&購入！   

  .second_banner
    .catch_copy
      %p.text_big
        会員数日本一位
      %p.text_small
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
    .download_btn
      = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'
      = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'
  .furima_feature
    %p.title
      FURIMAの特徴
    .features
      .feature
        = image_tag("icon-01.svg", class:'feature__image')
        .feature__description
          %p.description_title
            簡単に売り買いできる
          %p.description_text
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .feature
        = image_tag("icon-02.svg", class:'feature__image')
        .feature__description
          %p.description_title
            売上金は即日振込みに対応
          %p.descripition_text
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .feature
        = image_tag("icon-03.svg", class:'feature__image')
        .feature__description  
          %p.description_title
            様々な支払いに対応
          %p.description_text
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickup
    .items_block
      %p.title
        ピックアップカテゴリー
      %p.title_sub
        新規投稿商品
      .items
        .item
          = image_tag("a004.png", class:'item__image')
          .item__description
            %p.item_name
              サンプル商品
            .item_detail
              %p.item_detail__name
                1000円
              %p.item_detail__like
                ★0
            %p.item_tax
              (税込)
        .item
          = image_tag("a004.png", class:'item__image')
          .item__description
            %p.item_name
              サンプル商品
            .item_detail
              %p.item_detail__name
                1000円
              %p.item_detail__like
                ★0
            %p.item_tax
              (税込)
        .item
          = image_tag("a004.png", class:'item__image')
          .item__description
            %p.item_name
              サンプル商品
            .item_detail
              %p.item_detail__name
                1000円
              %p.item_detail__like
                ★0
            %p.item_tax
              (税込)
        .item
          = image_tag("a004.png", class:'item__image')
          .item__description
            %p.item_name
              サンプル商品
            .item_detail
              %p.item_detail__name
                1000円
              %p.item_detail__like
                ★0
            %p.item_tax
              (税込)
  .third_banner
    .catch_copy
      %p.text_small
        だれでもかんたん、人生を変えるフリマアプリ
      %p.text_big
        今すぐ無料ダウンロード！
    .download_btn
      = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'
      = link_to image_tag('https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', class:'btn_image'), '#'

  .footer
    .footer__contents
      .content
        %h2.content__title
          FURIMAについて
        %ul
          %li
            %a{:href => "#"}会社概要 (運営会社) 
          %li
            %a{:href => "#"}プライバシーポリシー
          %li
            %a{:href => "#"}FURIMA利用規約
          %li
            %a{:href => "#"}ポイントに関する特約
      .content
        %h2.content__title
          FURIMAを見る
        %ul
          %li
            %a{:href => "#"}カテゴリ一覧
          %li
            %a{:href => "#"}ブランド一覧
      .content
        %h2.content__title
          ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "#"}FURIMAガイド
          %li
            %a{:href => "#"}FURIMAロゴ利用ガイドライン
          %li
            %a{:href => "#"}お知らせ
    .footer__logo
      %a{:href => "/"}
        %img{:src => "/assets/logo-white.svg"}/
      %p.footer__copylight 
        © FURIMA
  %a{:href => "#"}
    .camera-btn
      %span.camera-btn__text 出品する
      %img.camera-btn__icon{:src => "/assets/icon_camera"}/