.wrapper
  = render "home/header"
  .main
    .main__frame
      .main__categorybox
        .main__categorybox--title
          %h1 カテゴリー一覧
        %hr
          %ul.categories
            - @parents.each do |parent|
              %li.parents= link_to "#{parent.name}", category_path(parent)

              %ul.categories__children
                - parent.children.each do |child|
                  %li.children= link_to "#{child.name}", category_path(child)

                  %ul.categories__grandchildren
                    - child.children.each do |grandchild|
                      %li.grandchildren= link_to "#{grandchild.name}", category_path(grandchild)

  = render "home/footer"
  = render "home/camera-btn"  