= render "header"
%main.mypage-contents
  .main-content
    .logout
      .logout-content
        = link_to "destroy__user_session_path", method: :delete, class:"logout-home" do
          .inside
            %button#logout_btn{type: "button"}
              ログアウト

  = render "main"
  = render "third-banner"
  = render "footer"
  = render "camera-btn"  