.wrapper
  .product_header
    =link_to image_tag("logo.png", class:'header_logo'), root_path
  .listing_forms
  = form_with(model: @product, local: true) do |form|
    .from_section.section_line
      .labels.mb_15
        %p.label
          商品画像
        %p.label__required
          必須
      %p
        最大10枚までアップロードできます  
      .image_upload
        %label{class: "image_upload__btn"}
          .btn_contents
            =icon('fas', 'camera fa-2x')
            %input{type: "file", class:"file"}
            %p.text
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード    
    .from_section.section_line
      .labels.mb_15
        %p.label
          商品名
        %p.label__required
          必須
      %input{type: "text", class: "input_style input_size_45 mb_30", placeholder:"40字まで"}
      .labels.mb_15
        %p.label
          商品の説明
        %p.label__required
          必須
      %textarea{class: "input_style input_size_150 mb_30", placeholder: description_input_placeholder}
      .text_counter
        %p
          0/1000
    .from_section.section_line
      .label--gray.mb_30
        商品の詳細
      .append__category
        .labels.mb_15
          %p.label
            カテゴリー
          %p.label__required
            必須  
        = form.collection_select :category_id, @category_parent, :id, :name, {include_blank: '---'}, {id: 'parent__category', class:'selectbox_style mb_30'}
      .labels.mb_15
        %p.label
          ブランド
        %p.label__optional
          任意
      %input{type: "text", class: "input_style input_size_45 mb_30", placeholder:"例）シャネル"}
      .labels.mb_15
        %p.label
          商品の状態
        %p.label__required
          必須  
      = select_tag 'note[point]', options_for_select(["新品・未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり"]), class: 'selectbox_style'
    .from_section.section_line
      .label--gray.mb_30
        配送について
      .labels.mb_15
        %p.label
          配送料の負担
        %p.label__required
          必須
      = select_tag 'note[point]', options_for_select(["送料込み（出品者負担）",  "着払い（購入者負担）"]), class: 'selectbox_style mb_30'
      .labels.mb_15
        %p.label
          発送元の地域
        %p.label__required
          必須  
      .select_area
        = select_tag 'note[point]', options_for_select(["北海道", "青森県", "岩手県", "宮城県", "秋田県"]), class: 'selectbox_style mb_30'
      .labels.mb_15
        %p.label
          発送までの日数
        %p.label__required
          必須  
      = select_tag 'note[point]', options_for_select(["1〜2日で発送", "2〜3日で発送", "4〜7日で発送"]), class: 'selectbox_style mb_30'
      .labels.mb_15
        %p.label
          配送方法
        %p.label__required
          必須  
      = select_tag 'note[point]', options_for_select(["らくらくフリマ便", "ゆうゆうフリマ便", "その他"]), class: 'selectbox_style'


    .from_section
      .label--gray.mb_30
        価格（¥300〜9,999,999）
      .input_price.mb_30
        .labels
          %p.label
            販売価格
          %p.label__required
            必須  
        .input_box
          %p.mr_5
            ¥
          %input{type: "text", class: "input_style input_size_45", placeholder:"0"}
      .calculation_box.mb_30
        %p
          販売手数料（10%）
        %p
          ¥50
      %hr.mb_30   
      .calculation_box
        %p
          販売利益
        %p
          ￥450
    .from_section
      .buttons.mb_30
        %input{type: "submit", value: "出品する", class: "btn listing mb_15"}
        %input{type: "submit", value: "下書きに保存", class: "btn draft"}
      .text_link.mb_30
        = link_to root_path do
          もどる
      
      .attention.mb_30
        禁止されている
        %span>= link_to "行為", "#"
        および
        %span>= link_to "出品物", "#"
        を必ずご確認ください。
        %span>= link_to "偽ブランド品", "#"
        や
        %span>= link_to "盗品物", "#"
        などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        %span>= link_to "加盟店規約", "#"
        に同意したことになります。
  .product_footer.mt_30
    .footer_items
      = link_to "#", class:"footer_item" do
        プライバシーポリシー
      = link_to "#", class:"footer_item" do
        フリマ利用規約
      = link_to "#", class:"footer_item" do
        特定商取引に関する表記

    .footer_logo.mt_30
      =link_to image_tag("logo-white.png", class:'footer_logo'), root_path
    .footer_copyright
      © FURIMA, Inc.