%table 
  %tr 
    %th 出品者
    -# %td= @user.nickname
  %tr 
    %th カテゴリー
    %td
      = link_to "#{@category_parent.name}","#"
      %br= link_to "#{@category_child.name}","#"
      = link_to "#{@category_grandchild.name}","#"