.wrapper
  = render "home/header"
  .show-main
    .item-box
      .item-name__box  
        .item-name
          %h1= @product.name
      .main_info
        .image_box
          .main_image_box
            = image_tag "#{@product.product_images[0].image_url}", alt: "#{@product.name}", class:'img_main'
          .sub_image_box
            - @images.each do |image|
              = image_tag image.image_url.url, class:'img_small'
        .table-box
          %table 
            %tr 
              %th 出品者
              %td= @product.user.nickname
            %tr 
              %th カテゴリー
              %td
                %p
                = link_to "#{@product.category.parent.parent.name}","#"
                %p
                = link_to "＞#{@product.category.parent.name}","#"
                %p
                = link_to "＞#{@product.category.name}","#"         
          %table
            %tr
              %th ブランド
              %td
                = @product.brand.name   
          %table
            %tr
              %th 商品の状態
              %td 
                - if @product.condition == 1 
                  %p 新品・未使用
                - if @product.condition == 2
                  %p 未使用に近い
                - if @product.condition == 3
                  %p 目立った傷や汚れなし
                - if @product.condition == 4
                  %p やや傷や汚れあり
                - if @product.condition == 5
                  %p 傷や汚れあり
          %table
            %tr
              %th 配送方法
              %td
                - if @product.shipping.shipping_type == 0 
                  %p らくらくフリマ便
                - if @product.shipping.shipping_type == 1
                  %p ゆうゆうフリマ便                  
                - if @product.shipping.shipping_type == 2
                  %p 未定 
          %table
            %tr
              %th 発送料の負担
              %td
                - if @product.shipping.fee == 0 
                  %p 送料込み（出品者負担）
                - if @product.shipping.fee == 1
                  %p 着払い（購入者負担）
          %table
            %tr
              %th 発送元地域
              %td
                - if @product.shipping.area == "hokkaido" 
                  %p 北海道
                - if @product.shipping.area == "aomori"
                  %p 青森
                - if @product.shipping.area == "iwate"
                  %p 岩手
          %table
            %tr
              %th 発送日数
              %td
                - if @product.shipping.handing_time == 0 
                  %p 1〜2日で発送
                - if @product.shipping.handing_time == 1
                  %p 2〜3日で発送      
                - if @product.shipping.handing_time == 2
                  %p 4〜7日で発送                                 
      .item-price__box
        .item-price
          %span
          ¥
          = @product.price
      - if user_signed_in? && current_user.id == @product.user_id 
        .item-buy_btn
          .item-buy_btn__blue
            商品の編集
        .item-buy_btn
          .item-buy_btn__gray       
            この商品を削除する
      - else
        .item-buy_btn
          .item-buy_btn__blue
            = link_to "購入手続きへ", order_path 
      .item-description__inner
        %p 
          = @product.text
    .commentBox
      .comment-body
        %textarea
        .noticeMsg
          %p 
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .commentBtn    
          %button{type: "submit",class: "btn"}
            = icon('fa', 'comment',class: 'icon')
            コメントする
    %ul.links 
      %li
        = link_to "#" do
          = icon('fa', 'angle-left',class: 'ii')
          %span 前の商品
      %li.links-right
        = link_to "#" do
          %span 後ろの商品
          = icon('fa', 'angle-right',class: 'ii')
    .relatedItems
      .relatedItems-top
        = link_to "#" do
          商品をもっと見る
        .productlists
          .productlist
            = link_to "#" do
              = image_tag 'IMG_2653.jpg', alt: 'image-2', height: '150px', width: '220px', class: 'product-img'
              .product-list__body
                %h3.name
                  財布
                .deta-list
                  %ul.items-price
                    %li 
                      1000円
                    %li
                      = icon('fa', 'star likeIcon',class: 'iii')
                      0
                  %p (税込)
  = render "home/third-banner"
  = render "home/footer"
  = render "home/camera-btn"