-# %table 
-#   %tr 
-#     %th 出品者
-#     -# %td= @user.nickname
-#   %tr 
-#     %th カテゴリー
-#     %td
-#       = link_to "#{@category_parent.name}","#"
-#       %br= link_to "#{@category_child.name}","#"
-#       = link_to "#{@category_grandchild.name}","#"

      
.wrapper
  = render "home/header"

  .show-main
    .item-box
      .item-name__box  
        .item-name
          %h1 バレンシアガ財布
        .item-wording
          %p バレンシアガの財布の赤。機能性の高いミニ財布  
      .item-main    
        .item-img
          = image_tag 'IMG_2664.jpg', alt: 'img', height: '360px', width: '360px'
        .item-table    
          .table-box
            %table 
              %tr 
                %th 出品者
                %td= @user.nickname
              %tr 
                %th カテゴリー
                %td
                  = link_to "#{@category_parent.name}","#"
                  %br= link_to "#{@category_child.name}","#"
                  = link_to "#{@category_grandchild.name}","#"
            %table
              %tr
                %th 
                  カテゴリー
                  %td 
                    = link_to '#' do
                      商品のカテゴリー
            %table
              %tr
                %th 
                  ブランド
                  %td 
                    = link_to '#' do
                      商品のブランド    
            %table
              %tr
                %th 商品のサイズ
                %td サイズ        
            %table
              %tr
                %th 商品の状態
                %td 状態
            %table
              %tr
                %th 発送の方法
                %td 方法    
            %table
              %tr
                %th 発送料の負担
                %td 負担者
            %table
              %tr
                %th 発送元地域
                %td 発送元
            %table
              %tr
                %th 発送日数
                %td 日数
      .item-price__box
        .item-price
          %span ¥40000     
        .item-buy__btn
          .item-buy
            購入画面
      .item-description__inner
        %p こちらは、一年前に青山のバレンシアガで購入したので確実に本物です。正規店でのメンテナンスを受けられる確実に本物・正規品ですのでご安心ください。大切に使用していましが中古品なので神経質な方はご遠慮願います。状態などご不明な点がございましたらお気軽にお問い合わせください
    .commentBox
      .comment-body
        %textarea
        .noticeMsg
          %p 
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .commentBtn    
          %button{type: "submit",class: "btn"}
            = icon('fa', 'comment',class: 'icon')
            コメントする
    %ul.links 
      %li
        = link_to "#" do
          = icon('fa', 'angle-left',class: 'ii')
          %span 前の商品
      %li.links-right
        = link_to "#" do
          %span 後ろの商品
          = icon('fa', 'angle-right',class: 'ii')
    .relatedItems
      .relatedItems-top
        = link_to "#" do
          商品をもっと見る
        .productlists
          .productlist
            = link_to "#" do
              = image_tag 'IMG_2653.jpg', alt: 'image-2', height: '150px', width: '220px', class: 'product-img'
              .product-list__body
                %h3.name
                  財布
                .deta-list
                  %ul.items-price
                    %li 
                      1000円
                    %li
                      = icon('fa', 'star likeIcon',class: 'iii')
                      0
                  %p (税込)
  = render "home/third-banner"
  = render "home/footer"
  = render "home/camera-btn"
